* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
}

#name-domain {
    font-family: Bangers;
}

#name-domain a {
    text-decoration: none;
    color: black;
    font-size: 80px;
}

#loading {
    width: fit-content;
}

#info {
    font-family: Fredoka;
    font-size: 30px;
    text-align: center;
}

#info a {
    color: rgb(0, 191, 255);
    font-weight: bolder;
    text-decoration: none;
}

@media (min-width: 425px) {
    #loading img {
        width: 400px;
    }

    #name-domain a {
        font-size: 60px;
    }

    #info {
        font-size: 20px;
    }
}