* {
    margin: 0;
}

header {
    display: flex;
    padding: 2rem 17rem;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

#main-link a {
    font-family: Bangers;
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#market-place a {
    font-family: Fredoka;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

#nav-link {
    position: relative;
}

#nav-link img {
    width: 35px;
}

#cart-objects {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    transform: translateX(25px) translateY(-5px);
    background-color: rgb(206, 206, 206);
    font-family: Fredoka;
    font-weight: bolder;
}

main {
    width: 80%;
    margin: 1rem auto 0rem auto;
    border-radius: 1rem;
}

#site-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

#site-banner img {
    height: 400px;
    border-radius: 1rem;
    margin: 5rem;
}

#text-h {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Fredoka;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
}

#text-h h1 {
    font-size: 3.2rem;
}

#text-h p {
    font-size: 1.4rem;
}

#i-a-respons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: whitesmoke;
    width: 25rem;
    height: 30rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    align-items: center;
}

#i1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family: Bangers;
    letter-spacing: 0.3rem;
}

#i-a-respons img {
    width: 3rem;
}

#i2 {
    font-family: Fredoka;
    padding: 1rem;
    font-size: 1.4rem;
}

#i3 {
    margin: 1rem;
}

#i3 button {
    background-color: rgb(2, 204, 2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    font-family: Bangers;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    border: 1px solid rgb(0, 71, 6);
    box-shadow: 0 0 1rem rgb(0, 71, 6);
}

#i-b-respons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: whitesmoke;
    width: 25rem;
    height: 23rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    align-items: center;
    overflow: hidden;
    transform: translateX(120%);
    display: none;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#i4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family: Bangers;
    letter-spacing: 0.3rem;
}

#i-b-respons img {
    width: 3rem;
}

#i5 {
    font-family: Fredoka;
    padding: 1rem;
    font-size: 1.4rem;
}

#i5 p a {
    color: rgb(0, 191, 255);
    text-decoration: none;
    font-weight: bolder;
}

#i6 {
    margin: 1rem;
}

#i6 button {
    background-color: rgb(2, 204, 2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    font-family: Bangers;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    border: 1px solid rgb(0, 71, 6);
    box-shadow: 0 0 1rem rgb(0, 71, 6);
}

#i7 {
    width: 100%;
    height: 0.25rem;
    background-color: green;
    position: absolute;
    animation: progressBar 6s linear forwards;
}

@keyframes progressBar {
    0% {
        width: 100%;
        background-color: green; /* Zielony na początku */
    }
    33% {
        background-color: orange; /* Pomarańczowy przy 33% */
    }
    66% {
        background-color: red; /* Czerwony przy 66% */
    }
    100% {
        width: 0%;
        background-color: red; /* Czerwony na końcu */
    }
}

#opinions {
    background-color: whitesmoke;
    height: 23rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
}

#opinions h1 {
    font-family: Fredoka;
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
}

#no-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: Fredoka;
}

.blok-opini {
    width: 30rem;
    height: 14rem;
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
    margin: 2rem;
}

.data-user {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem 0rem 2rem;
}

.data-user img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 4rem;
}

.name {
    font-size: 1.5rem;
    font-family: Bangers;
}

.opinion {
    font-size: 0.9rem;
    width: 90%;
    height: 5rem;
    margin: 1rem auto;
    font-family: Fredoka;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.459);
    border-radius: 0.3rem;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
    font-family: Fredoka;
}

.stars img {
    width: 1rem;
    animation: rotate 5000ms infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#send-op {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Fredoka;
    font-size: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    background-color: whitesmoke;
    margin-top: 4rem;
    border-radius: 1rem;
    padding: 2rem 0rem;
}

#send-op div {
    margin-top: 1.5rem;
}

#send-op h1 {
    font-size: 3.2rem;
    font-family: Fredoka;
}

#s1 input {
    font-family: Fredoka;
    font-size: 1.16rem;
    border-radius: 0.5rem;

}

#s2 select {
    width: 16rem;
    height: 2rem;
    text-align: center;
    font-size: 1.06rem;
    border-radius: 1rem;
}

#s2 select option {
    font-family: Fredoka;
    font-size: 20px;
}

#s3 textarea {
    font-family: Fredoka;
    font-size: 1.05rem;
    border-radius: 0.5rem;
}

#s4 button {
    background-color: rgb(2, 204, 2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    font-family: Bangers;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    border: 1px solid rgb(0, 71, 6);
    box-shadow: 0 0 1rem rgb(0, 71, 6);
}

footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 2rem 17rem;
    margin-top: 3rem;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

footer {
    font-family: Bangers;
}

footer p,
footer p a {
    font-family: Fredoka;
    font-size: 1.3rem;
}
